Django
psycopg2-binary
djangorestframework
gunicorn
dj-rest-auth
django-allauth
djangorestframework-simplejwt
requests
django-health-check
django-cors-headers
openai
python-dotenv
langchain
pgvector
elasticsearch
django-stubs
black
pre-commit
langchain-openai
