:root {
  --color-bg: #f9fafb;
  --color-surface: #ffffff;
  --color-text: #111827;
  --color-text-sub: #6b7280;
  --color-border: #e5e7eb;
  --color-primary: #6366f1;
  --color-primary-bg: #e0e7ff;
  --color-hover: rgba(99, 102, 241, 0.1);

  --color-gray-500: #6b7280;
  --color-gray-600: #4b5563;
  --color-error: #d61f2d;
}
